.daily-contents {
    display: flex;
    flex-direction: column;
    gap: 54px;
    padding: 54px 24px;
    margin: 0;
}

.daily-contents > .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.daily-contents > .title.writable {
    justify-content: flex-start;
}

.daily-contents > .contents {
    padding: 8px 8px;
    background-color: #D9D9D9;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.17;
}

.daily-contents > .contents.writable {
    width: 100%;
    resize: none;
    overflow: hidden;
}